/* Google Fonts, Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
font-family: 'Noto Sans', sans-serif; 
*/



body {
    font-family: 'Noto Sans', sans-serif; 
}

#banner {
    display: block;
    width: 75%;
    margin: auto;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    background-color: #20425E;
    width: 200px;
    margin: auto;
    border-radius: 25px;
    padding: 15px;
    margin-top: 30px;
    text-decoration: none;
    font-weight:600;
    font-size:28px;
}
