#banner {
    display: block;
    width: 75%;
    margin: auto;
}
#logo {
    width: 10%;
    position: absolute;
    bottom:  0px;
    right: 0px;
}
a {
    text-decoration: none;
}
#one {
    color: white;
    text-align: center;
    background-color: #20425E;
    width: 200px;
    margin: auto;
    border-radius: 25px;
    padding: 15px;
    margin-top: 30px;
    text-decoration: none;
}
#two {
    color: white;
    text-align: center;
    background-color: #20425E;
    width: 200px;
    margin: auto;
    border-radius: 25px;
    padding: 15px;
    margin-top: 30px;
    text-decoration: none;
}
#three {
    color: white;
    text-align: center;
    background-color: #20425E;
    width: 200px;
    margin: auto;
    border-radius: 25px;
    padding: 15px;
    margin-top: 30px;
    text-decoration: none;
}