/* Google Fonts, Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
font-family: 'Noto Sans', sans-serif; 
*/



body {
    font-family: 'Noto Sans', sans-serif; 
}

#button {
    display:flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
}
#logo {
    width: 130px;
}
a {
    text-decoration: none;
}
div {
    text-align: center;
    padding-top: 30px;
}
.nav-link {
    color: white;
    text-align: center;
    background-color: #20425E;
    width: 175px;
    margin: 0 5px;
    border-radius: 25px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline;

}
.selected-link {
    background-color: #C28219;
}

.pic {
    width: 22.5%;
    margin: 1.25%;
    float: left;
    text-align: center;
}
.pic img {
    width: 100%;
    border: 2px solid black;
    border-radius: 30px;
}