#banner {
    display: block;
    width: 75%;
    margin: auto;
}
#logo {
    width: 10%;
    position: absolute;
    top:  0px;
    left: 0px;
}
a {
    text-decoration: none;
}
div {
    text-align: center;
    padding-top: 30px;
}
#one {
    color: white;
    text-align: center;
    background-color: #20425E;
    width: 175px;
    margin: auto;
    border-radius: 25px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline;
}
#two {
    color: white;
    text-align: center;
    background-color: #C28219;
    width: 175px;
    margin: auto;
    border-radius: 25px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline;

}
#three {
    color: white;
    text-align: center;
    background-color: #20425E;
    width: 175px;
    margin: auto;
    border-radius: 25px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline;
}
#pic {
    width: 22.5%;
    margin: 1.25%;
    float: left;
    text-align: center;
}
#button {
    margin-bottom: 30px;
}